/* **************** base styles *********/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  flex-direction: column;
}
section {
  margin-bottom: 10%;
}
input {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}

h2 {
  text-align: center;
}

/* **************** containers styles *********/
.container {
  display: flex;
  justify-content: center;
}

.money-container {
  display: flex;
  padding: 2%;
  margin: 1%;
  justify-content: space-around;
  border: 2px solid green;
  box-shadow: 0 2px 10px rgb(0 0 0 / 30%);
  transition: 500ms;
  opacity: 0;
}

.output {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 2em;
  padding: 5%;
}

/* **************** currency styles *********/

.currency-list {
  margin: auto;
  text-align: center;
  transition: 1000ms;
}

.hidden {
  opacity: 0;
  height: 0;
}

/* **************** income styles *********/
.income-list-item {
  text-align: center;
}

.inpInc {
  border: 1px solid green;
}

.inc-title {
  width: 25%;
  margin-left: 1%;
}

#incSubmit {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  z-index: 99;
}

.input-income {
  display: flex;
  text-align: center;
}

.total-income {
  display: flex;
}

#totalInc {
  color: green;
}

/* **************** btn/icon styles *********/

.icon {
  margin-top: 3%;
}

.btn {
  margin-top: 4%;
  width: fit-content;
  color: #fff;
}

.btnInc {
  background-color: #2e76cf;
  margin-left: auto;
  margin-right: auto;
}

.btnExp {
  background-color: #cf2e2e;
  margin-left: auto;
  margin-right: auto;
}

.btnDel {
  cursor: pointer;
  padding-left: 1%;
}

.btnConfirm {
  background-color: rgb(72, 134, 216);
}

/* **************** outgoings styles *********/

.outgoings {
  display: flex;
  padding: 2%;
  justify-content: space-around;
  border: solid 2px red;
}

.input-outgoings {
  display: flex;
  text-align: center;
}

.inpExp {
  border: 1px solid red;
}

.expense-list-item {
  text-align: center;
}

#totalExp {
  color: red;
}

/* **************** balance styles *********/

.final-output {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5%;
  font-size: 2em;
  padding: 5%;
}

/* #balance{
  color: red;
} */

/* **************** popup styles *********/
.popup {
  background-color: rgb(182, 201, 201);
  border: 1px solid black;
  border-radius: 5%;
  display: flex;
  left: 10%;
  margin: auto;
  padding: 1%;
  position: absolute;
  top: 40%;
  z-index: 99;
}

.popup button {
  color: white;
  margin: auto;
  margin-top: 2%;
  width: fit-content;
}

.overlay {
  filter: blur(6px);
}

/***********************************************************************/
/* IPAD STYLES */

@media only screen and (min-width: 768px) {
  /* **************** containers styles *********/

  .money-container {
    margin: 10%;
  }

  .output {
    font-size: 2em;
    padding: 5%;
  }

  /* **************** income styles *********/
  .income-list-item {
    padding-top: 1%;
  }

  /* **************** popup styles *********/
  .popup {
    left: 30%;
    top: 55%;
  }
}

/***********************************************************************/
/* Desktop STYLES */

@media only screen and (min-width: 1200px) {
  /* **************** containers styles *********/

  .money-container {
    padding: 2%;
    margin-top: 3%;
    margin-bottom: 1%;
    margin-left: 30%;
    margin-right: 30%;
    font-size: larger;
  }

  /* **************** currency styles *********/

  .currency-list {
    top: 40%;
    left: 42%;
  }

  /* **************** income styles *********/

  .inc-title {
    width: 25%;
    margin-bottom: 3%;
  }

  #incSubmit {
    margin-top: 4%;
    padding: 1%;
  }

  .input-income {
    padding-bottom: 5%;
  }

  .inpInc {
    padding: 1%;
  }

  /* **************** btn/icon styles *********/

  .icon {
    font-size: 1.5em;
  }

  .btnExp {
    padding: 1%;
  }

  .btnDel {
    cursor: pointer;
    padding-left: 1%;
  }

  /* **************** popup styles *********/
  .popup {
    left: 39%;
    padding: 1%;
    top: 100%;
  }

  .popupInc {
    top: 39%;
  }

  .popupExp {
    top: 100%;
  }

  .popup button {
    color: white;
    margin: auto;
    margin-top: 2%;
    width: fit-content;
  }
}
